/* Reset */
@charset "utf-8"; 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background: none repeat scroll 0 0 transparent;border: 0 none;
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
font-size: 100%;
outline: 0 none;
vertical-align: baseline;
margin: 0;
padding: 0;}
table{border-collapse:collapse;border-spacing:0;}
address,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,nav,menu,nav,section,summary{display:block;}  a, a:hover,button,button:hover, .anime, .small_btn, .btn:hover .small_btn   {-moz-transition:all 200ms linear;-ms-transition:all 200ms linear;-o-transition:all 200ms linear;-webkit-transition:all 200ms linear;transition:all 200ms linear;}  button{cursor:pointer;}  *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;} 
*/ a,
a:hover,
button,
button:hover,
.anime {
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
}
a {
  text-decoration: none;
}
li {
    list-style: none;
}
/* Reset_end*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/*Flex Framework_начало*/


/*Flex Framework_конец*/
body { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-height: 100vh; */
  font: 400 1em/1.5 "Neuton"; 
  background: #090d00; 
  color: rgba(255,255,255,.25); 
  text-align: center; 
  margin: 0;
  font-family: 'Roboto', sans-serif;
 }
.title {
  padding-top: 1vh;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin-bottom: 0vh;
}
p {
  text-transform: uppercase;
  letter-spacing: .5em;
  border: 4px double rgba(255,255,255,.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  width: 100%;
  color: white;
  /* font-size: 1.2vw; */
  font-weight: 700;
}
  span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);
/* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
/* Animate Background Image */
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;
/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


.wrap-kategori {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30vw;
  height: 13vh;
  margin-bottom: 2vh;
}
.title-kategori {
  font-size: 2vw;
  background: linear-gradient(90deg, #6325C0, #EA1D58);
	-webkit-background-clip: text;
	-webkit-text-fill-color: #e4e4e4;

	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: transparent;
}
.class-kategori {
  font-size: 2.5vw;
  background: linear-gradient(90deg, #e6ba2d, #000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: #e4e4e4;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: transparent;
  line-height: 4vh;
}


/*? Стили для рамки */

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrap-question {
  /* max-height: 60vh; */
  width: 100vw;
}
.question {
  width: 100%;
  margin: 0 auto;
  display: none;
}
.title-question {
  font-size: 3vw;
  background: linear-gradient(90deg, #6325C0, #EA1D58);
	-webkit-background-clip: text;
	-webkit-text-fill-color: #e4e4e4;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: transparent;
  margin-bottom: 4vh;
}
.wrap-answer {
  padding-left: 30%;
}
.wrap-answer ul {
  text-align: start;
}
.wrap-answer ul li {
  margin-bottom: 2vh;
}
.answer {
  font-family: 'Cinzel', serif;
  font-size: 2.8vw;
  color:#d3c6c6;
}
#timer {
  font-size: 5vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.wrap-rebus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rebus {
  display: none;
  flex-direction: column;
  align-items: center;
}
.wrap-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin-bottom: 4vh;
}
.wrap-img > img {
  width: 10vw;
}
.wrap-img > .plus {
  font-size: 6vw;
  color: yellow;
}
.wrap-option > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.option {
  border: 2px solid wheat;
  margin-bottom: 3vh;
  font-family: 'Cinzel', serif;
  font-size: 2.2vw;
  color: #d3c6c6;
  border-radius: 10px;
  color: black;
  background: wheat;
}
.title-option {
  font-size: 4vw;
  background: linear-gradient(
90deg, #6325C0, #EA1D58);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e4e4e4;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  margin-bottom: 0vh;
}
.zagadka-img {
  margin-bottom: 3vh;
}
.zagadka-img > img {
  width: 30vw;
}
.wrap-option > .option {
  text-align: start;
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}
.wrap-option {
  margin: 0 auto;
}
.zagadka {
  display: none;
}
.wrap-img-collag > img {
  width: 60vw;
}
.logo {
  position: absolute;
  top: 7vh;
  right: 30vw;
  width: 9vw;
}
.title-center {
  text-align: center;
  margin: 0 auto;
}
.display-button {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 2vw;
  background: linear-gradient(
180deg, #f30901, #EA1D58);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e4e4e4;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
}
.home {
  font-size: 1.5vw;
  position: absolute;
  top: 7vh;
  left: 1vw;
  color:rgb(255, 255, 255);
  padding: 5px;
  border: 2px solid rgb(255, 136, 0);
  border-radius: 10px;
}
.home::before {
  border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid rgb(255, 136, 0);
    content: " ";
    width: 0;
    height: 0;
    left: -0.9vw;
    top: 2.5vh;
    z-index: 100000;
    position: absolute;
}
.wrap-kategori-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 5vh 0 0 0;
} 
.wrap-kategori-answer > .block-answer1 > .question {
  display: block;
  margin-bottom: 45vh;
}
.block-answer1 {
  padding-top: 10vh;
}
.display-none {
  display: none;
}

.wrap-kategori-answer > .wrap-rebus > .rebus {
  display: block;
}
.wrap-kategori-answer > .wrap-rebus > .rebus {
  margin-bottom: 35vh;
}
.wrap-kategori-answer > .wrap-rebus > .rebus > h4 {
  color: white;
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: 3vh;
}
.wrap-kategori-answer > .wrap-question > .question {
  display: block;
  margin-bottom: 35vh;
}
.title-bz {
  color: white;
  font-size: 4vw;
}
.wrap-kategori-answer > .wrap-zagadka > .zagadka {
  display: block;
  margin-bottom: 35vh;
}
.option-result {
  border: 2px solid wheat;
  margin-top: 5vh;
  margin-bottom: 3vh;
  font-family: 'Cinzel', serif;
  font-size: 2.5vw;
  border-radius: 10px;
  color: rgb(253, 253, 253);
  background: rgb(43, 40, 36);
  text-align: left;
  display: flex;
  justify-content: flex-start;
}
.kaver {
  background-color: wheat;
  width: 50vw;
  border-radius: 20px;
  margin-bottom: 25vh;
}
.title-kaver {
  font-size: 3vw;
    background: linear-gradient(
90deg, #6325C0, #EA1D58);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e4e4e4;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: transparent;
    margin-bottom: 4vh;
}
.control-audio {
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}
.control-audio img:nth-child(1) {
  margin-right: 10vw;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.control-audio img:nth-child(2) {
  width: 5vw;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.name-control {
  color:rgb(43, 40, 36);
  font-size: 2vw;
  margin-bottom: 2vh;
}
.name-origin {
  font-size: 2vw;
  font-weight: 700;
}
.name-origin:hover {
  color: white;
}








@media (min-width: 375px) and (max-width: 767px) {

.title {
  padding-top: 1vh;
}
span {
  font: 700 2em "Oswald", sans-serif;
  }
.title-question {
  font-size: 7vw;
  margin-bottom: 3vh;
  }
.answer {
  font-size: 6vw;
}
.wrap {
  max-width: 100vw;
}
.block {
  width: 53vw;
  height: 10vh;
  margin-bottom: 4vh;
}
.wrap-answer {
  padding-left: 0;
}
.answer {
  text-align: center;
}
.wrap-kategori > .block5 {
  margin-bottom: 0;
}
.wrap-kategori {
  display: flex;
  flex-direction: column;
}
.title-kategori {
  font-size: 5vw;
}
.class-kategori {
  font-size: 4.5vw;
}
.question {
  width: 90%;
}
#timer {
  font-size: 12vw;
  line-height: 12vw;
  font-weight: bold;
}
.q-b > h3 {
  font-size: 6vw;
  margin-bottom: 1vh;
}
.wrap-img {
  width: 90vw;
}
.wrap-img > img {
  width: 25vw;
}
.wrap-img > .plus {
  font-size: 10vw;
}
.option {
  margin-bottom: 3vh;
  font-size: 4vw;
  text-align: start;
}
.wrap-option {
  width: 90vw;
}
.title-option {
  font-size: 6vw;
}
.zagadka-img > img {
  width: 80vw;
}
.wrap-option > .option {
  margin-bottom: 5vh;
}
.logo {
  position: absolute;
  top: 13vh;
  right: 4vw;
  width: 20vw;
}
.home {
  font-size: 3vw;
  top: 4vh;
  font-weight: 700;
}
.home::before {
  display: none;
}
.display-button {
  font-size: 3vw;
}
.kaver {
  width: 75vw;
}
.control-audio img:nth-child(2) {
  width: auto;
}
.title-kaver {
  font-size: 5vw;
}
.name-control {
  font-size: 5vw;
}
.name-origin {
  font-size: 3.5vw;
  font-weight: 700;
  color:rgb(255, 0, 0);
}
.name-origin:hover {
  color:rgb(255, 0, 0);
}
.option-result {
  font-size: 4.5vw;
}





}